<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
		
	<servlet>
		<description>CREA PDF</description>
		<display-name />
		<icon>
			<small-icon />
			<large-icon />
		</icon>
		<servlet-name>ServletPDF</servlet-name>
		<servlet-class>controlador.ServletPDF</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletPDF</servlet-name>
		<url-pattern>/crearPDF</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>CREA TXT</description>
		<servlet-name>ServletTXT</servlet-name>
		<servlet-class>controlador.ServletTXT</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletTXT</servlet-name>
		<url-pattern>/crearTXT</url-pattern>
	</servlet-mapping>
	
</web-app>
